<article class="benefits">
   <div class="benefits__container _container">
      <div class="benefits__head">
         <div class="benefits__tag">Our Awesome Benefits</div>
         <div class="benefits__title">What you’ll get from Us</div>
      </div>
      <div class="benefits__grid">
         <div class="benefits__item">
            <div class="benefits__itemIcon">
               <picture>
                  <source type="image/avif" srcset="./images/check.avif" />
                  <source type="image/webp" srcset="./images/check.webp" />
                  <img src="./images/check.png">
               </picture>
               <p></p>
            </div>
            <div class="benefits__itemTitle">Built with you in mind</div>
            <div class="benefits__itemDesc">We know how important it is to maintain strong relationships with clients.
            </div>
         </div>
         <div class="benefits__item">
            <div class="benefits__itemIcon">
               <picture>
                  <source type="image/avif" srcset="./images/check.avif" />
                  <source type="image/webp" srcset="./images/check.webp" />
                  <img src="./images/check.png">
               </picture>
               <p></p>
            </div>
            <div class="benefits__itemTitle">Built with you in mind</div>
            <div class="benefits__itemDesc">We know how important it is to maintain strong relationships with clients.
            </div>
         </div>
         <div class="benefits__item">
            <div class="benefits__itemIcon">
               <picture>
                  <source type="image/avif" srcset="./images/check.avif" />
                  <source type="image/webp" srcset="./images/check.webp" />
                  <img src="./images/check.png">
               </picture>
               <p></p>
            </div>
            <div class="benefits__itemTitle">Built with you in mind</div>
            <div class="benefits__itemDesc">We know how important it is to maintain strong relationships with clients.
            </div>
         </div>
         <div class="benefits__item">
            <div class="benefits__itemIcon">
               <picture>
                  <source type="image/avif" srcset="./images/check.avif" />
                  <source type="image/webp" srcset="./images/check.webp" />
                  <img src="./images/check.png">
               </picture>
               <p></p>
            </div>
            <div class="benefits__itemTitle">Built with you in mind</div>
            <div class="benefits__itemDesc">We know how important it is to maintain strong relationships with clients.
            </div>
         </div>
         <div class="benefits__item">
            <div class="benefits__itemIcon">
               <picture>
                  <source type="image/avif" srcset="./images/check.avif" />
                  <source type="image/webp" srcset="./images/check.webp" />
                  <img src="./images/check.png">
               </picture>
               <p></p>
            </div>
            <div class="benefits__itemTitle">Built with you in mind</div>
            <div class="benefits__itemDesc">We know how important it is to maintain strong relationships with clients.
            </div>
         </div>
         <div class="benefits__item">
            <div class="benefits__itemIcon">
               <picture>
                  <source type="image/avif" srcset="./images/check.avif" />
                  <source type="image/webp" srcset="./images/check.webp" />
                  <img src="./images/check.png">
               </picture>
               <p></p>
            </div>
            <div class="benefits__itemTitle">Built with you in mind</div>
            <div class="benefits__itemDesc">We know how important it is to maintain strong relationships with clients.
            </div>
         </div>
      </div>
   </div>
</article>