<article class="care">
   <div class="care__container _container">
      <div class="care__content">
         <div class="care__tag">Take Your Care</div>
         <div class="care__title">Elevate Your Lifestyle by Bring Balance and Well Being Into Your Life</div>
         <div class="care__desc">Designed to allow you to unwind and feel confident that you’re in good, caring hands.
            Our first priority is cleanliness. We have a full-time staff whose job is to ensure that the environment at
            Beautyness remains.</div>
         <div class="care__grid">
            <div class="care__item">
               <div class="care__itemIcon">
                  <picture>
                     <source type="image/avif" srcset="./images/beauty.avif" />
                     <source type="image/webp" srcset="./images/beauty.webp" />
                     <img src="./images/beauty.png">
                  </picture>
               </div>
               <div class="care__itemAbout">Beauty Experts</div>
            </div>
            <div class="care__item">
               <div class="care__itemIcon">
                  <picture>
                     <source type="image/avif" srcset="./images/serv.avif" />
                     <source type="image/webp" srcset="./images/serv.webp" />
                     <img src="./images/serv.png">
                  </picture>
               </div>
               <div class="care__itemAbout">Quality Services</div>
            </div>
            <div class="care__item">
               <div class="care__itemIcon">
                  <picture>
                     <source type="image/avif" srcset="./images/tubes.avif" />
                     <source type="image/webp" srcset="./images/tubes.webp" />
                     <img src="./images/tubes.png">
                  </picture>
               </div>
               <div class="care__itemAbout">100% Nature</div>
            </div>
         </div>
      </div>
      <div class="care__bg">
         <span></span>
         <p></p>
      </div>
   </div>
</article>