<article class="feedback">
   <div class="feedback__container _container">
      <div class="feedback__head">
         <div class="feedback__tag">Testimonials</div>
         <div class="feedback__title">What our Customers says...</div>
      </div>
      <div class="feedback__grid">
         <div class="feedback__item">
            <div class="feedback__itemText">“ Made an appointment with Beautyness and it was the best experience in a
               salon I have ever had. They went above and beyond to make sure I got what I wanted, & patiently explained
               her process “</div>
            <div class="feedback__itemContent">
               <div class="feedback__itemIcon">
                  <picture>
                     <source type="image/avif" srcset="./images/fd1.avif" />
                     <source type="image/webp" srcset="./images/fd1.webp" />
                     <img src="./images/fd1.png">
                  </picture>
               </div>
               <div class="feedback__itemAuthor">
                  <div class="feedback__itemStart">
                     <picture>
                        <source type="image/avif" srcset="./images/stars.avif" />
                        <source type="image/webp" srcset="./images/stars.webp" />
                        <img src="./images/stars.png">
                     </picture>
                  </div>
                  <div class="feedback__itemName">James Williams</div>
                  <div class="feedback__itemProf">United States</div>
                  <div class="feedback__itemQuotes">
                     <picture>
                        <source type="image/avif" srcset="./images/quotes.avif" />
                        <source type="image/webp" srcset="./images/quotes.webp" />
                        <img src="./images/quotes.png">
                     </picture>
                  </div>
               </div>
            </div>
         </div>
         <div class="feedback__item">
            <div class="feedback__itemText">“ I've been going to Beautyness they are always goes above and beyond my
               expectations and leaves my hair looking and feeling fantastic and looking exactly as I hoped, if not
               better “</div>
            <div class="feedback__itemContent">
               <div class="feedback__itemIcon">
                  <picture>
                     <source type="image/avif" srcset="./images/fd2.avif" />
                     <source type="image/webp" srcset="./images/fd2.webp" />
                     <img src="./images/fd2.png">
                  </picture>
               </div>
               <div class="feedback__itemAuthor">
                  <div class="feedback__itemStart">
                     <picture>
                        <source type="image/avif" srcset="./images/stars.avif" />
                        <source type="image/webp" srcset="./images/stars.webp" />
                        <img src="./images/stars.png">
                     </picture>
                  </div>
                  <div class="feedback__itemName">Carolyn James</div>
                  <div class="feedback__itemProf">United Kingdom</div>
                  <div class="feedback__itemQuotes">
                     <picture>
                        <source type="image/avif" srcset="./images/quotes.avif" />
                        <source type="image/webp" srcset="./images/quotes.webp" />
                        <img src="./images/quotes.png">
                     </picture>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</article>