<footer class="footer">
   <div class="footer__container _container">
      <div class="footer__upper">
         <div class="footer__logo">
            <picture>
               <source type="image/avif" srcset="./images/logo2.avif" />
               <source type="image/webp" srcset="./images/logo2.webp" />
               <img src="./images/logo2.png">
            </picture>
         </div>
         <div class="footer__socials">
            <a href="" class="footer__upperLink">
               <picture>
                  <source type="image/avif" srcset="./images/facebook.avif" />
                  <source type="image/webp" srcset="./images/facebook.webp" />
                  <img src="./images/facebook.png">
               </picture>
            </a>
            <a href="" class="footer__upperLink">
               <picture>
                  <source type="image/avif" srcset="./images/twitter.avif" />
                  <source type="image/webp" srcset="./images/twitter.webp" />
                  <img src="./images/twitter.png">
               </picture>
            </a>
            <a href="" class="footer__upperLink">
               <picture>
                  <source type="image/avif" srcset="./images/in2.avif" />
                  <source type="image/webp" srcset="./images/in2.webp" />
                  <img src="./images/in2.png">
               </picture>
            </a>
            <a href="" class="footer__upperLink">
               <picture>
                  <source type="image/avif" srcset="./images/inst.avif" />
                  <source type="image/webp" srcset="./images/inst.webp" />
                  <img src="./images/inst.png">
               </picture>
            </a>
         </div>
      </div>
      <div class="footer__line"></div>
      <div class="footer__flex">
         <div class="footer__list">
            <a href="">Explore</a>
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">Services</a>
            <a href="">Articles</a>
            <a href="">Contact Us</a>
         </div>
         <div class="footer__list">
            <a href="">Utility Pages</a>
            <a href="">Style Guide</a>
            <a href="">404 Not Found</a>
            <a href="">Password Protected</a>
            <a href="">Licenses</a>
            <a href="">Changelog</a>
         </div>
         <div class="footer__list">
            <a href="">Keep in Touch</a>
            <p>Address :<a href="">24A Kingston St, Los Vegas NC 28202, USA.</a></p>
            <p>Mail :<a href="">support@doctors.com</a></p>
            <p>Phone :<a href="">(+22) 123 - 4567 - 900</a></p>
         </div>
         <div class="footer__list">
            <p>Working Hours</p>
            <p>Mon to Fri: 7am - 6pm</p>
            <p>Sat: 9am - 7pm</p>
            <p>Sun: 9am - 6pm</p>
         </div>
      </div>
   </div>

</footer>
<script src="./js/dist/main.min.js"></script>

</html>