<article class="form">
   <div class="form__container _container">
      <div class="form__content">
         <div class="form__tag">Flat Discount</div>
         <div class="form__title">Claim upto 50% offer on the most popular services...</div>
         <div class="form__desc">
            Our Retreat is not meant to be an occasional treat, but rather a part of your routine that restores balance
            to your daily life.
         </div>
         <div class="form__disc">
            <div class="form__discContacts">
               <div class="form__discItem">
                  <p>
                     <picture>
                        <source type="image/avif" srcset="./images/dots.avif" />
                        <source type="image/webp" srcset="./images/dots.webp" />
                        <img src="./images/dots.png">
                     </picture>
                  </p>
                  <span>
                     <div class="form__discTitle">Mail Us :</div>
                     <a href="" class="form__discLink">info@beautyness.com</a>
                  </span>
               </div>
               <div class="form__discItem">
                  <p>
                     <picture>
                        <source type="image/avif" srcset="./images/dots.avif" />
                        <source type="image/webp" srcset="./images/dots.webp" />
                        <img src="./images/dots.png">
                     </picture>
                  </p>
                  <span>
                     <div class="form__discTitle">Call us :</div>
                     <a href="" class="form__discLink">(+1) 235 890 12</a>
                  </span>
               </div>
            </div>
            <div class="form__discText">
               <p>- Get Flat -</p>
               <p>50%</p>
               <p>Discount</p>
            </div>
         </div>
      </div>
      <div class="form__form">
         <div class="form__inputs">
            <div class="form__input" style="--bg:url(../images/form1.avif)">
               <span></span>
               <input type="text">
            </div>
            <div class="form__input" style="--bg:url(../images/form2.avif)">
               <span></span>
               <input type="text">
            </div>
            <div class="form__input" style="--bg:url(../images/form3.avif)">
               <span></span>
               <input type="text">
            </div>
            <div class="form__input" style="--bg:url(../images/form4.avif)">
               <span></span>
               <input type="text">
            </div>
            <div class="form__input" style="--bg:url(../images/form5.avif)">
               <span></span>
               <textarea type="text"></textarea>
            </div>
         </div>
         <button class="form__button">Submit</button>
      </div>
   </div>
</article>