<header class="header">
   <div class="header__container">
      <div class="header__left">
         <div class="header__logo">
            <div class="icon-box">
               <img src="./images/sprite.svg#logo" class="svg-logo-dims" alt="logo">
            </div>
         </div>
         <div class="header__call">
            <picture>
               <source type="image/avif" srcset="./images/phone.avif" />
               <source type="image/webp" srcset="./images/phone.webp" />
               <img src="./images/phone.png">
            </picture>
            <p>Call Us - </p>
            <a href=""> (+22) 123 456 7890</a>
         </div>
      </div>
      <div class="header__right">
         <div class="header__nav">
            <a href="" class="header__link">Home</a>
            <a href="" class="header__link">About</a>
            <a href="" class="header__link">Pages</a>
            <a href="" class="header__link">Contact Us</a>
         </div>
         <div class="header__socials">
            <a href="">
               <picture>
                  <source type="image/avif" srcset="./images/f.avif" />
                  <source type="image/webp" srcset="./images/f.webp" />
                  <img src="./images/f.png">
               </picture>
            </a>
            <a href="">
               <picture>
                  <source type="image/avif" srcset="./images/t.avif" />
                  <source type="image/webp" srcset="./images/t.webp" />
                  <img src="./images/t.png">
               </picture>
            </a>
            <a href="">
               <picture>
                  <source type="image/avif" srcset="./images/in.avif" />
                  <source type="image/webp" srcset="./images/in.webp" />
                  <img src="./images/in.png">
               </picture>
            </a>
         </div>
         <a href="" class="header__button">
            <picture>
               <source type="image/avif" srcset="./images/cal.avif" />
               <source type="image/webp" srcset="./images/cal.webp" />
               <img src="./images/cal.png">
            </picture>
            <p>Reservation</p>
         </a>
      </div>
   </div>
</header>