<article class="main">
   <div class="main__container _container">
      <div class="main__content">
         <div class="main__welcome">
            <picture>
               <source type="image/avif" srcset="./images/alert.avif" />
               <source type="image/webp" srcset="./images/alert.webp" />
               <img src="./images/alert.png">
            </picture>
            <p>Welcome to Beautyness!!!</p>
         </div>
         <div class="main__title">
            Bring The well being & beauty naturally!!!
         </div>
         <div class="main__about">Your body does a lot for you, and your caring therapist can help you return the favor
            in a way that benefits both your physical and mental wellness.</div>
         <a href="" class="main__button">Make a reservation</a>
      </div>
      <div class="main__image">
         <span></span>
         <p></p>
      </div>
   </div>
</article>