<article class="proc">
   <div class="proc__container _container">
      <div class="proc__grid">
         <div class="proc__item">
            <div class="proc__itemImage">
               <picture>
                  <source type="image/avif" srcset="./images/proc1.avif" />
                  <source type="image/webp" srcset="./images/proc1.webp" />
                  <img src="./images/proc1.png">
               </picture>
            </div>
            <div class="proc__itemContent">
               <div class="proc__itemTitle">Spa & Massage</div>
               <div class="proc__itemDesc">Your wellness goals and the areas of preference, then unwind with a
                  customized massage experience.</div>
               <a href="" class="proc__itemButton">Read more</a>
            </div>
         </div>
         <div class="proc__item">
            <div class="proc__itemImage">
               <picture>
                  <source type="image/avif" srcset="./images/proc2.avif" />
                  <source type="image/webp" srcset="./images/proc2.webp" />
                  <img src="./images/proc2.png">
               </picture>
            </div>
            <div class="proc__itemContent">
               <div class="proc__itemTitle">Hair & Beauty</div>
               <div class="proc__itemDesc">Combining skin-type-specific cleansing & toning, exfoliation, deep-pore
                  cleansing extractions customized treatment.</div>
               <a href="" class="proc__itemButton">Read more</a>
            </div>
         </div>
         <div class="proc__item">
            <div class="proc__itemImage">
               <picture>
                  <source type="image/avif" srcset="./images/proc3.avif" />
                  <source type="image/webp" srcset="./images/proc3.webp" />
                  <img src="./images/proc3.png">
               </picture>
            </div>
            <div class="proc__itemContent">
               <div class="proc__itemTitle">Body Treatments</div>
               <div class="proc__itemDesc">Offers therapeutic benefits such as relief of muscle tension and increased
                  circulation to the areas worked.</div>
               <a href="" class="proc__itemButton">Read more</a>
            </div>
         </div>
      </div>
   </div>
</article>