<article class="serv">
   <div class="serv__container _container">
      <div class="serv__head">
         <div class="serv__tag">Our Services</div>
         <div class="serv__title">Creative excellence and the unparalleled hospitality</div>
      </div>
      <div class="serv__list">
         <div class="serv__item">
            <div class="serv__itemImg" style="--bg:url(../images/serv1.avif)"></div>
            <div class="serv__itemContent">
               <div class="serv__itemList">
                  <div class="serv__itemItem">
                     <div class="serv__itemItemHead">
                        <span>
                           <div class="serv__itemItemTitle">Deep Tissue</div>
                           <div class="serv__itemItemPrice">from <span>$48.00</span></div>
                        </span>
                     </div>
                     <div class="serv__itemItemDesc">A therapeutic massage that used for relieving muscles.</div>
                  </div>
                  <div class="serv__itemItem">
                     <div class="serv__itemItemHead">
                        <span>
                           <div class="serv__itemItemTitle">Body Scrub</div>
                           <div class="serv__itemItemPrice">from <span>$18.00</span></div>
                        </span>
                     </div>
                     <div class="serv__itemItemDesc">Perfect way to relieve all that unwanted stress in body.</div>
                  </div>
                  <div class="serv__itemItem">
                     <div class="serv__itemItemHead">
                        <span>
                           <div class="serv__itemItemTitle">Foot Massage</div>
                           <div class="serv__itemItemPrice">from <span>$25.00</span></div>
                        </span>
                     </div>
                     <div class="serv__itemItemDesc">Get a relaxing massage focused on your feet and lower legs.</div>
                  </div>
                  <div class="serv__itemItem">
                     <div class="serv__itemItemHead">
                        <span>
                           <div class="serv__itemItemTitle">Scalp Treatments</div>
                           <div class="serv__itemItemPrice">from <span>$15.00</span></div>
                        </span>
                     </div>
                     <div class="serv__itemItemDesc">Superior gray creates a rich, natural look with less fading.</div>
                  </div>
               </div>
               <a href="" class="serv__itemButton">GET AN APPOINTMENT</a>
            </div>
         </div>
         <div class="serv__item rev">
            <div class="serv__itemImg" style="--bg:url(../images/serv2.avif)"></div>
            <div class="serv__itemContent">
               <div class="serv__itemList">
                  <div class="serv__itemItem">
                     <div class="serv__itemItemHead">
                        <span>
                           <div class="serv__itemItemTitle">Deep Tissue</div>
                           <div class="serv__itemItemPrice">from <span>$48.00</span></div>
                        </span>
                     </div>
                     <div class="serv__itemItemDesc">A therapeutic massage that used for relieving muscles.</div>
                  </div>
                  <div class="serv__itemItem">
                     <div class="serv__itemItemHead">
                        <span>
                           <div class="serv__itemItemTitle">Body Scrub</div>
                           <div class="serv__itemItemPrice">from <span>$18.00</span></div>
                        </span>
                     </div>
                     <div class="serv__itemItemDesc">Perfect way to relieve all that unwanted stress in body.</div>
                  </div>
                  <div class="serv__itemItem">
                     <div class="serv__itemItemHead">
                        <span>
                           <div class="serv__itemItemTitle">Foot Massage</div>
                           <div class="serv__itemItemPrice">from <span>$25.00</span></div>
                        </span>
                     </div>
                     <div class="serv__itemItemDesc">Get a relaxing massage focused on your feet and lower legs.</div>
                  </div>
                  <div class="serv__itemItem">
                     <div class="serv__itemItemHead">
                        <span>
                           <div class="serv__itemItemTitle">Scalp Treatments</div>
                           <div class="serv__itemItemPrice">from <span>$15.00</span></div>
                        </span>
                     </div>
                     <div class="serv__itemItemDesc">Superior gray creates a rich, natural look with less fading.</div>
                  </div>
               </div>
               <a href="" class="serv__itemButton">GET AN APPOINTMENT</a>
            </div>
         </div>
         <div class="serv__square"></div>
      </div>
   </div>
</article>