<article class="updates">
   <div class="updates__container _container">
      <div class="updates__head">
         <div class="updates__tag">Our Blog</div>
         <div class="updates__title">Latest Updates</div>
      </div>
      <div class="updates__grid">
         <div class="updates__item">
            <div class="updates__itemImage">
               <picture>
                  <source type="image/avif" srcset="./images/update1.avif" />
                  <source type="image/webp" srcset="./images/update1.webp" />
                  <img src="./images/update1.png">
               </picture>
            </div>
            <div class="updates__itemContent">
               <div class="updates__itemHead">
                  <div class="updates__itemDate">September 30, 2021</div>
                  <div class="updates__itemAuthor">Peter Bergson</div>
               </div>
               <div class="updates__itemTitle">How to make the make-up stay last</div>
               <div class="updates__itemDesc">Therapeutic aromatherapy can help bring balance both mentally, physically,
                  and different blends.</div>
            </div>
         </div>
         <div class="updates__item">
            <div class="updates__itemImage">
               <picture>
                  <source type="image/avif" srcset="./images/update2.avif" />
                  <source type="image/webp" srcset="./images/update2.webp" />
                  <img src="./images/update2.png">
               </picture>
            </div>
            <div class="updates__itemContent">
               <div class="updates__itemHead">
                  <div class="updates__itemDate">September 30, 2021</div>
                  <div class="updates__itemAuthor">John Walker</div>
               </div>
               <div class="updates__itemTitle">Tips to improve your body via cleansing</div>
               <div class="updates__itemDesc">Whether you’re looking to stress, boost energy, improve sleep, clear
                  sinuses, or relieve a headache.</div>
            </div>
         </div>
         <div class="updates__item">
            <div class="updates__itemImage">
               <picture>
                  <source type="image/avif" srcset="./images/update3.avif" />
                  <source type="image/webp" srcset="./images/update3.webp" />
                  <img src="./images/update3.png">
               </picture>
            </div>
            <div class="updates__itemContent">
               <div class="updates__itemHead">
                  <div class="updates__itemDate">September 30, 2021</div>
                  <div class="updates__itemAuthor">Christina John</div>
               </div>
               <div class="updates__itemTitle">Experience the beauty at our beauty spa</div>
               <div class="updates__itemDesc">We’ve created a range of proprietary aromatherapy blends to enhance your
                  massage or skin therapy.</div>
            </div>
         </div>
      </div>
      <button class="updates__button">
         view more stories
      </button>
   </div>
</article>